.pricing {
  width: 100vw;
  position: relative;

  .top {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 99;
    img {
      width: 5rem;
    }
  }

  .bottom {
    width: 102%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 0px;
    h2 {
      color: #036092;
      font-size: 2.5rem;
    }
    h3 {
      width: 80%;
      text-align: left;
      font-size: 1rem;
      font-weight: 500;
    }

    .pricing-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          width: 45% !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          .input-wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            padding: 10px 0;

            label {
              font-size: 0.65rem;
              font-weight: 600;
            }

            span {
              position: relative;
              img {
                position: absolute;
                width: 2rem;
                top: 0.65rem;
                left: 6.5rem;
              }
            }

            input,
            select {
              width: 20rem;
              font-size: 0.9rem;
              padding: 13px 10px;
              border: none;
              outline: none;
              border-radius: 10px;
              color: rgb(90, 90, 90);
              background: rgba(255, 255, 255, 0.7);
              border-bottom: 1px solid rgb(90, 90, 90);
            }
          }
        }
        .right {
          width: 45%;
        }
      }

      // more-queries
      .more-queries {
        width: 60%;
        height: 10rem;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        .top {
          width: 100%;
          height: 5rem;
          font-size: 0.9rem;
          background-color: #dfd32cd6;
          color: #4c4c45;
        }
        .bottom {
          width: 99.5%;
          height: calc(100% - 4rem);
          background: unset;
          display: unset;
          padding: 1rem;
          textarea {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background: transparent;
            padding: 0px 20px;
          }
        }
        .bottom::before {
          width: 0;
          height: 0;
        }
      }

      .submit-btn {
        width: 8rem;
        height: 3rem;
        font-size: 0.9rem;
        background-color: #0078b7;
        color: white;
        border: none;
        outline: none;
        cursor: pointer !important;
        border-radius: 20px;
      }
    }
  }
  .bottom::before {
    content: "";
    position: absolute;
    top: 0;
    width: 105%;
    height: 100%;
    background: url("/public/Login/quotation-bg.png");
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
}
.prc-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4c4c45ba;
  z-index: -2;
}
