@import "../../Css/mixin.scss";
.footer-bottom {
  width: 100%;
  padding: 10px;
  padding-top: 3rem;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include ph {
      display: flex !important;
      flex-direction: column !important;
    }
    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .col-1 {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          width: 5rem;
          @include sm {
            width: 4rem;
          }
        }
      }

      p {
        width: 100%;
        font-size: 0.85rem;
        font-weight: 400;
        text-align: left;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
      }

      input {
        padding: 10px;
        border: none;
        outline: none;
        border: 1px solid rgb(165, 165, 165);
        border-radius: 10px;
      }
      button {
        width: 8rem;
        font-size: 1.2rem;
        padding: 10px;
        background-color: #003e71;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        outline: none;

        @include sm {
          font-size: 1rem;
        }
      }
    }

    .col-2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 2rem;
      gap: 20px;
      @include ph {
        width: 100%;
        padding-left: 0;
        margin-left: 0 !important;
        h3 {
          margin: 0;
          margin-top: 30px;
        }
      }

      @include sm {
        padding-left: 0;
        // margin-left: 20px !important;
        h3 {
          margin: 0;
          margin-top: 30px;
        }
      }

      li {
        font-size: 0.85rem;
        list-style: none;
        cursor: pointer;
      }

      .social-links {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 5px;
        @include sm {
          gap: 15px;
        }

        .links {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .circle {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            cursor: pointer;

            @include sm {
              width: 1.5rem;
              height: 1.5rem;

              img {
                width: 0.85rem;
              }
              .fb-img {
                width: 0.5rem;
              }
            }
          }
        }
      }
    }

    h3 {
      font-size: 1;
      color: #003e71;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 30px;

    .line {
      width: 100%;
      height: 2px;
      border-bottom: 1.5px solid black;
    }
    .rights {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 1600px) {
  .footer-bottom {
    width: 100%;
  }
}
